In [69]:
from gurobipy import *
import pandas as pd
import numpy as np
import grblogtools as glt
from scipy.spatial.distance import squareform, pdist

In [71]:
df = pd.read_csv('data\instance05.txt', header=None)

df_main = df.iloc[:2,:]
df_main.columns = df_main.iloc[0]
df_main = df_main[1:]

df_car =  df.iloc[3:int(df_main['n_C'])+4,:]
df_car.columns = df_car.iloc[0]
df_car = df_car.dropna(axis=1)
df_car = df_car[1:]

df_car_lv = df.iloc[int(df_main['n_C'])+5:int(df_main['n_C'])+int(df_main['n_L'])+6,:]
df_car_lv.columns = df_car_lv.iloc[0]
df_car_lv = df_car_lv.dropna(axis=1)
df_car_lv = df_car_lv[1:]

df_order = df.iloc[int(df_main['n_C'])+int(df_main['n_L'])+7:int(df_main['n_C'])+int(df_main['n_L'])+int(df_main['n_K'])+8,:]
df_order.columns = df_order.iloc[0]
df_order = df_order.dropna(axis=1)
df_order = df_order[1:]

df_distance = df.iloc[int(df_main['n_C'])+int(df_main['n_L'])+int(df_main['n_K'])+9:int(df_main['n_C'])+int(df_main['n_L'])+int(df_main['n_K'])+int(df_main['n_S'])**2+10,:]
df_distance.columns = df_distance.iloc[0]
df_distance = df_distance.dropna(axis=1)
df_distance = df_distance[1:]
df_distance

27 From To Distance
28    1  1        0
29    1  2      180
30    1  3      450
31    1  4      300
32    1  5      330
33    1  6      270
34    2  1      180
35    2  2        0
36    2  3      330
37    2  4      240
38    2  5      300
39    2  6      360
40    3  1      450
41    3  2      330
42    3  3        0
43    3  4      180
44    3  5      210
45    3  6      240
46    4  1      300
47    4  2      240
48    4  3      180
49    4  4        0
50    4  5      120
51    4  6      150
52    5  1      330
53    5  2      300
54    5  3      210
55    5  4      120
56    5  5        0
57    5  6       90
58    6  1      270
59    6  2      360
60    6  3      240
61    6  4      150
62    6  5       90
63    6  6        0